html {
  height:99%;
  width:99%;
  /*transform: translate(0%, 0%) skew(-45deg, 15deg) scaleX(.66667) scaleY(.66667);*/
}

body {
  height: 99%;
  width: 99%; 
  background-image: radial-gradient(circle at center, #ff0 02%, #000, #000);
  position: absolute;
  z-index: 1;
}

#main {
 min-height: 98%;
 max-height: 98%;
 margin: 0px;
 padding: 0px;
 border: 0px solid #000;
 border-radius: 5% 5% 5% 5%;
 display: flex;
 flex-flow: row;
 opacity: 0.75; 
 }

#main > nav {
 position:relative; 
 margin: 2%;
 padding: 2%;
 border-radius: initial;
 background-image: radial-gradient(circle at top right, #888 2%, #fff, #888);
 flex: 1 1 0;
 order: 1;
 }

#main > article {
 position:relative; 
 margin: 2%;
 padding: 2%;
 border-radius: inherit;
 background-image: radial-gradient(circle at bottom left, #fff 2%, #000, #fff);
 flex: 3 1 0;
 order: 2;
 overflow: scroll;
 }

 #image-main {
  position:relative; 
  margin-left:2.5%;
  margin-top: 1.5%; 
  max-height: 95%;
  max-width: 95%;
  min-height: 95%;
  min-width: 95%;
  border:0 -moz-border-radius: 2.5%;
  border-radius: 2.5%;
  mix-blend-mode: difference;
  z-index: 1;
  } 

 .font {
  font-family: Consolas, monaco, monospace;
  text-align: center;
  font-size: 14px;
  text-indent: 0%;
  color: #000;
  }
 
  .font1 {
  font-family: Consolas, monaco, monospace;
  text-align: center;
  font-size: 14px;
  text-indent: 0%;
  color: #fff;
  }

 .header {
  text-align: center;
  color: #000;
  }

 .header1 {
  text-align: center;
  color: #fff;
  }

 .img {
  mix-blend-mode: difference;
 }

  
/* Too narrow to support three columns */
@media all and (max-width: 640px) {

 #main {
  flex-flow: column;
  flex-direction: column;
 }

 #main > article, #main > nav { 
  order: 0;
 }

 #main > nav, #main > header {
  min-height: 50px;
  max-height: 50px;
 }
};

  


