html {
  height:100%;
  width:100%;
}

body {
  height: 100%;
  width: 100%; 
  background-image: linear-gradient(270deg, #000 02%, #fff, #000);
  position: absolute;
  z-index: 1;
}

#main {
 min-height: 98%;
 max-height: 98%;
 margin: 0px;
 padding: 0px;
 display: flex;
 flex-flow: row;
 opacity: 0.75; 
 }

#main > nav {
 margin: 2%;
 padding: 2%;
 border: 0px solid #000;
 border-radius: 5%;
 background-image: linear-gradient(180deg, #555 2%, #fff, #555);
 flex: 1 1 0;
 order: 1;
 }

#main > article {
 margin: 2%;
 padding: 2%;
 border: 0px solid #aaa;
 background-image: linear-gradient(180deg, #fff 2%, #000, #fff);
 border-radius: 5%;
 flex: 3 1 0;
 order: 2;
 overflow: scroll;
 }

 #image-main {
  position:relative; 
  margin-left:2.5%;
  margin-top: 1.5%; 
  max-height: 95%;
  max-width: 95%;
  min-height: 95%;
  min-width: 95%;
  border:0 -moz-border-radius: 2.5%;
  border-radius: 2.5%;
  z-index: 1;
  } 

 .font {
  font-family: Consolas, monaco, monospace;
  text-align: center;
  font-size: 14px;
  text-indent: 0%;
  color: #000;
  }
 
  .font1 {
  font-family: Consolas, monaco, monospace;
  text-align: center;
  font-size: 14px;
  text-indent: 0%;
  color: #fff;
  }

 .header {
  text-align: center;
  color: #000;
  }

 .header1 {
  text-align: center;
  color: #fff;
  }

  
/* Too narrow to support three columns */
@media all and (max-width: 640px) {

 #main {
  flex-flow: column;
  flex-direction: column;
 }

 #main > article, #main > nav { 
  order: 0;
 }

 #main > nav, #main > header {
  min-height: 50px;
  max-height: 50px;
 }
};

  


